{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<ul>

<h1>{% trans "Выход" %}</h1>
<div style="center-screen">
  <p>{% trans 'Вы действительно хотите выйти ?' %}</p>

  <form method="post"  action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button class="btn btn-primary">{% trans 'Выход' %}</button>
  </form>
</div>

{% endblock %}
